@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.advantages {
  background-color: $baseColors-white;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  order: 2;
  margin: 0;
  margin-bottom: 36px;

  text-align: center;

  @include title(24px, 36px);

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    @include title(42px, 64px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__bange {
  order: 1;
  margin: 0;
  margin-bottom: 4px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  order: 3;

  @include ul-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    grid-template-rows: minmax(94px, auto) minmax(94px, auto);
    column-gap: 34px;
    row-gap: 40px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: minmax(318px, 1fr) minmax(317px, 1fr) minmax(318px, 1fr) minmax(317px, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
  }
}

.advantages__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: " ";

    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto;

    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-right: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: 780px) {
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
  }

  &--speed::before {
    background-image: url("../../img/svg/speed-icon.svg");
  }

  &--fit::before {
    background-image: url("../../img/svg/fit-icon.svg");
  }

  &--energy::before {
    background-image: url("../../img/svg/energy-icon.svg");
  }

  &--ecology::before {
    background-image: url("../../img/svg/ecology-icon.svg");
  }
}

.advantages__item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.advantages__subtitle {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 4px;

  @include title(18px, 32px);

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    @include title(24px, 36px);
  }
}

.advantages__text {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  white-space: pre-wrap;

  @media (min-width: $tablet-width) {
    max-width: 267px;

    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 317px;

    text-align: center;
  }
}
