@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.catalog {
  background-color: $backgroundColors-lightest-grey;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  @include wrapper-mobile;


  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    align-items: baseline;
    grid-template-columns: 318px 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 30px;
    grid-template-areas:
      "badge badge"
      "title title"
      "form icons";
  }

}

.catalog__title {
  order: 2;
  margin: 0;
  margin-bottom: 20px;

  text-align: center;

  @include title(24px, 36px);

  @media (min-width: $tablet-width) {
    @include title(42px, 64px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;

    grid-area: title;
  }
}

.catalog__badge {
  order: -1;
  margin: 0 auto;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    margin: 0 auto;

    grid-area: badge;
  }
}

.catalog__filter {
  order: 3;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 318px;

    grid-area: form;
  }
}

.catalog__filter-form {
  margin-bottom: 40px;


}

.catalog__product {
  order: 4;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat (2, 349px);
    grid-template-rows: 24px 1fr 40px;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-areas:
      ". filter"
      "card card"
      ". page";
  }

  @media (min-width: $desktop-width) {
    grid-area: icons;
  }
}

.catalog__product-sorting {
  margin-bottom: 20px;

  grid-area: filter;
}

.catalog__product-inner {
  margin-bottom: 40px;

  grid-area: card;
}

.catalog__product-pagination {
  margin-bottom: 44px;

  grid-area: page;
}
