@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";

.copyright__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $baseColors-grey;
}
