.logo {
  flex-shrink: 0;

  opacity: 1;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.logo__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &--header {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.logo__link {
  @media (min-width: $desktop-width) {
    display: block;

    &--footer {
      margin-bottom: 10px;
    }
  }
}

.logo__promo {
  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  &--header {
    max-width: 126px;

    font-size: 12px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
