@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.main-header {
  position: relative;

  display: flex;

  background-color: $baseColors-white;
}

.main-header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    position: relative;

    height: 80px;

    @include wrapper-tablet;
  }
}

.main-header__navigation {
  display: flex;

  @media (min-width: $tablet-width) {
   gap: 60px;
  }
}
