@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.main-container {
  flex-grow: 1;
}

.main-container__advantages {
  @include wrapper-mobile;

  margin-top: 50px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;

    margin-top: 260px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-desktop;

    margin-top: 100px;
    margin-bottom: 98px;
  }
}

.main-container__map-image {
  width: 100%;
}
