@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";


.navigation-list {
  z-index: 10;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include ul-reset;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.navigation-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: $baseColors-white;
  border-bottom: 1px solid $baseColors-secondary;

  &:first-child {
    border-top: 1px solid $baseColors-secondary;
  }

  @media (min-width: $tablet-width) {
    border: none;
    &:first-child {
      border: none;
    }
  }
}

.navigation-list__link {
  width: 100%;
  padding: 22px;

  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: $baseColors-black;
  text-transform: uppercase;
  letter-spacing: 2;

  background-color: $baseColors-white;

  &:hover,
  &:focus-within {
    color: $baseColors-primary;

    outline: none;
  }

  &:active {
    color: $baseColors-primary;

    background-color: $baseColors-secondary;

  }

  &--current {
    color: $baseColors-primary;

    border-bottom: 2px solid $baseColors-primary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}

.navigation-list__icon-text {
  display: none;
}
