@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.novelty-slider {
  background-color: $backgroundColors-flat-white;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 656px;
  }
}

.novelty-slider__wrapper {
  display: flex;
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    justify-content: center;
    min-height: 714px;
  }
}

.novelty-slider__inner {
  position: relative;

  display: flex;
  flex-grow: 1;
}

.novelty-slider__list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--second {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background-color: $backgroundColors-lavender-latte;
  }

  &--third {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background-color: $backgroundColors-espresso;
  }
}

.novelty-slider__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 640px auto;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-areas:
      "img info"
      "slider slider";
    margin: 0;
  }
}

.novelty-slider__about {
  display: flex;
  flex-direction: column;
  order: 2;

  @media (min-width: $desktop-width) {
    align-items: flex-start;

    grid-area: info;
  }
}

.novelty-slider__title {
  order: 2;
  margin: 0;
  margin-bottom: 10px;

  text-align: center;
  letter-spacing: 0.02em;

  @include title(36px, 48px);

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;

    @include title(56px, 80px);
  }
}

.novelty-slider__subtitle {
  order: 1;
  margin: 0;
  margin-bottom: 4px;

  text-align: center;
}

.novelty-slider__description {
  order: 3;
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $baseColors-black;

  @media (min-width: $tablet-width) {
    max-width: 549px;

    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.novelty-slider__order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  order: 4;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.novelty-slider__image {
  order: 1;
  margin-top: 20px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -180px;

    order: 3;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;

    display: block;
    margin: 0;

    grid-area: img;
  }
}

.novelty-slider__pagination {
  display: none;
  order: 3;

  @media (min-width: $desktop-width) {
    position: relative;

    display: block;

    grid-area: slider;
  }
}


.novelty-slider__button-icon {
  width: 20px;
  padding: 0;

  @include button-reset;
  fill: $baseColors-primary;

  &--left {
    &:focus-within,
    &:hover {
      background: linear-gradient(270deg, rgba($baseColors-white, 0) 0%, rgba($baseColors-white, 1) 100%);
    }

    &:active {
      background: linear-gradient(90deg, rgba($altColors-primary-opacity, 0.25) 0%, rgba($altColors-primary-opacity, 0) 100%);
    }
  }

  &--rigth {
    &:focus-within,
    &:hover {
      background: linear-gradient(90deg, rgba($baseColors-white, 0) 0%, rgba($baseColors-white, 1) 100%);
    }

    &:active {
      background: linear-gradient(270deg, rgba($altColors-primary-opacity, 0.25) 0%, rgba($altColors-primary-opacity, 0) 100%);
    }
  }

  &:hover > svg {
    fill: $baseColors-primary;
  }

  &:active > svg {
    fill: $altColors-primary-darker;
  }

  &:disabled > svg {
    fill: $baseColors-grey;
  }

  @media (min-width: $tablet-width) {
    width: 80px;

    &:disabled > svg {
      fill: currentColor;
    }
  }
}
