@import "../global/fonts.scss";

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;

  font-family: $montserrat, "Arial", sans-serif;
}
