
@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.pagination__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include ul-reset;

  @media (min-width: $tablet-width) {
    gap: 20px;
    width: 100%;
    min-width: 395px;
  }
}

.pagination__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 4px;

  &--active {
    background-color: $backgroundColors-lightest-grey;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.pagination__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;

  background-color: $baseColors-white;
	border: none;
  border-radius: 4px;
	outline: none;
	cursor: pointer;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 8px 20px;

    &:hover {
      color: $baseColors-white;

      background-color: $altColors-primary-lighter;
    }

    &:active {
      color: $baseColors-white;

      background-color: $altColors-primary-darker;
    }

    &:disabled {
      color: $baseColors-white;

      background-color: $altColors-light-grey;
    }
  }
}

.pagination__button-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $baseColors-primary;

    visibility: visible;

    &:hover {
      color: $baseColors-white;

      background-color: $altColors-primary-lighter;
    }

    &:active {
      color: $baseColors-white;

      background-color: $altColors-primary-darker;
    }

    &:disabled {
      color: $baseColors-white;

      background-color: $altColors-light-grey;
    }
  }
}

.pagination__button-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__link svg {
  fill: inherit;
}

.pagination__link {
  width: 40px;
  height: 40px;
  padding: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $baseColors-primary;

  background-color: $baseColors-white;
  border-radius: 4px;

  &--active {
    font-weight: 600;
    color: $baseColors-black;

    background-color: $backgroundColors-lightest-grey;
  }

  &:hover {
    color: $baseColors-white;

    background-color: $altColors-primary-lighter;
  }

  &:active {
    color: $baseColors-white;

    background-color: $altColors-primary-darker;
  }

  &:disabled {
    color: $baseColors-white;

    background-color: $altColors-light-grey;
  }
}


