@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  height: 40px;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  line-height: 0;

  @include ul-reset;
}

.socials__item {
  padding: 10px;
}
