@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  height: 40px;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  line-height: 0;

  @include ul-reset;
}

.socials__item {
  padding: 10px;

  border-radius: 4px;

  &:focus-within,
  &:hover {
    background-color: $baseColors-secondary;
    filter: none;
  }

  &:active {
    background-color: rgba($altColors-primary-opacity, 0.25);
  }
}

.socials__link {
  display: block;

  fill: $baseColors-grey;
}

.social__link svg {
  fill: inherit;
}

.socials__link:hover,
.socials__link:focus-within {
  outline: none;
  transform: translateY(-1px);

  transition: all 0.3s ease;

  fill: $baseColors-primary;
}
