@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";

.title-footer {
  margin: 0;
  margin-bottom: 12px;

  color: $baseColors-primary;

  @include title(14px, 20px);
}
