@import "../global/fonts.scss";
@import "../global/mixins.scss";
@import "../global/reset.scss";
@import "../global/variables.scss";
@import "../global/visually-hidden.scss";

.user-list {
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include ul-reset;

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.user-list__link {
  display: block;
  padding: 21px;

  line-height: 0;

  &:focus-within,
  &:active {
    background-color: $baseColors-secondary;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 129px;
    padding: 32px 22px;
  }
}

.user-list__icon-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 8px;
  }
}
