@import "../global/variables.scss";

// RESET
@mixin link-reset {
  color: $baseColors-black;
  text-decoration: none;

  cursor: pointer;
}

@mixin button-reset {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin li-reset-last-el {
  &:last-child {
    margin: 0;
  }
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;

  border: 0;

  appearance: none;
}

// VIEWPORTS
@mixin wrapper-mobile($size: $mobile-width-only) {
  width: calc(100% - 40px);
  margin: 0 auto;
}

@mixin wrapper-tablet($size: $tablet-width) {
  width: calc(100% - 40px);
  margin: 0 auto;
}

@mixin wrapper-desktop($size: $desktop-width) {
  width: calc(100% - 80px);
  max-width: 1440px;
  margin: 0 auto;
}

// TITLE
@mixin title($f-size: 18px, $l-height: 32px) {
  font-style: normal;
  font-weight: 700;
  font-size: $f-size;
  line-height: $l-height;
}
