@import "../global/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $montserrat;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.map {
  width:  320px;
  height: 420px;
}

.leaflet-bottom {
  display: none;
}