@import "../global/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: $montserrat;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

svg {
  fill: currentColor;
}

a {
  line-height: 0;
  text-decoration: none;
}

.leaflet-bottom {
  display: none;
}
